	<div ng-controller="RegisterCtrl">
    <div class="row">
    <div class="col-md-4">
		<div class="form_main">
                <h4 class="heading"><strong>Quick </strong> Register <span></span></h4>
                <div class="form">
                <form action="" method="post" role="form">
                    <input type="text" required="" placeholder="Please input your Name" ng-model="username" name="userName" class="txt"> 
                     <input type="email" required="" placeholder="Please input your Email"  name="email" class="txt" ng-model="useremail">
                    <input type="password" required="" placeholder="Please input your password" ng-model="password" name="password" class="txt">
                  
                   
                     <input type="submit" value="submit" name="submit" ng-click="insertuserData()">
                </form>
            </div>
            </div>
            </div>


	</div>